*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: darkblue;
  color: white;
}

.container{
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
}